@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Playfair+Display:wght@500&family=Poppins:wght@300;800&display=swap');

/* Common */

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
html {
    background-color: #abababab;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #000000;
}
button, li, a {
    cursor: pointer;
}
.block {
    display: none;
}
.blockk {
    display: none;
}
.none {
    display: block;
}
.nonen {
    display: block;
}
/* Header, Slider */

header {
    border: none;
    background-color: #000000;
}
.Container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.wert {
    max-width: 100%;
    display: block;
}
.poster1 {
    display: none;
}

/* Main, Plot, Main Characters, AD */

/* Plot & Main */

main {
    padding: 0;
    height: 1625px;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #000000;
}
.innner {
    background-color: #000000;
}
.inner {
    width: 84%;
    margin: auto;
}
.innerHr {
    display: flex;
    justify-content: center;
}
.innerHr hr {
    width: 80px;
    padding: 2px;
    background-color: #ff006e;
    border: none;
}
.B1 {
    width: 100%;
    height: 160px;
    border-left: 13px solid #ff006e;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.textDiv {
    height: 92px;
    width: 100%;
    margin: 40px auto;
    border-left: 13px solid #ff006e;
    display: flex;
    align-items: center;
}
.textDiv h2 {
    font-size: 50px;
    text-align: left;
    margin-left: 30px;
    color: #f4f4f4;
}
.ghj h2 {
    color: #e0e0e0;
}
.textConteiner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.textConteiner p {
    margin-left: 30px;
    text-align: left;
    font-size: 28px;
    font-weight: 510;
    color: #e0e0e0;
}
.textConteiner h2 {
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #e0e0e0;
}

/* Article AD */

.ad {
    width: 100%;
    height: 39px;
    margin: 50px 0 50px 0;
}
.innerr {
    width: 77%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.column {
    width: 380px;
    height: 100%;
    background-color: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column a {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 30px;
}
.column:hover {
    color: #ff006e;
    transition: 0.4s ease;
}

/* Second Section */

.second {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.second p {
    margin-left: 30px;
    text-align: left;
    font-size: 28px;
    font-weight: 510;
    color: #e0e0e0;
}
.second h2 {
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #e0e0e0;
}

/* Main Characters Section */

.wrapperDiv {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
}
.fjk hr {
    background-color: #ff006e;
    border: none;
}
.mainImgDiv {
    width: 100%;
    height: 830px;
}
.mainInner {
    width: 98%;
    margin: 0 auto;
    height: 100%;
}
.row1 {
    padding: 50px 50px 10px 50px;
    height: 370px;
}
.row2 {
    padding: 0 50px 0 50px;
}
.row1, .row2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ImgBox {
    width: auto;
    width: 100%;
    height: 370px;
    text-align: center;
}
.ImgBox img {
    width: 290px;
    height: 290px;
}
.fty {
    display: block;
}
.qaz {
    display: none;
}

/* Trailer */

.section_Trailer {
    width: 100%;
    display: flex;
    background-color: #000000;
}
.videoConteiner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#play-btn {
    width: 170px;
    height: 140px;
    border: none;
    position: absolute;
}

/* Footer, Links */

footer {
    background: url(../img/bckg.jpg);
    height: 260px;
}
.hgh {
    width: 90%;
    height: 260px;
    margin: 0 auto;
}
.FlexBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
#logoF {
    width: auto;
    height: 100px;
    margin-top: 30px 0 0 10px;
}
.HFG {
    width: 450px;
    height: 70%;
    border-right: 0.5px solid #969696;
    color: #f4f4f4;
}
.HFG a {
    color: #f4f4f4;
    font-size: 1.4em;
    margin-left: 10px;
    font-weight: 300;
    cursor: pointer;
}
.HFG p {
    width: 80%;
    font-weight: 300;
}
.HFG li {
    margin: 13px;
    font-weight: 300;
    cursor: pointer;
}
.textImg {
    text-align: left;
}
.textG {
    display: flex;
    width: 470px;
}
.Addres {
    border: none;
}
.hfg {
    margin-left: 100px;
    margin-top: 31px;
}

/* Cookie Notification */

#cookie_notification {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 71.5%;
    width: 850px;
    transform: translateX(-50%);
    height: 80px;
    background-color: #242424;
    box-shadow: 5px 7px 15px 3px rgba(0, 0, 0, 0.4);
}
.text {
    border-right: 8px solid #ff006e;
    width: 90%;
    height: 70%;
    margin: auto 15px;
    display: flex;
    align-items: center;
    text-align: right;
}
#cookie_notification h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.4em;
    font-weight: 600;
    margin-right: 15px;
    color: #e0e0e0;
    text-align: center;
}
#cookie_notification button {
    text-transform: uppercase;
    padding: 15px 50px;
    margin-left: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #484848;
    color: #f4f4f4;
}
 
/* media screen */

/* laptop */

@media screen and (max-width: 1440px) {
    html {
        width: 100%;
        overflow-x: hidden;
    }
    .inner {
        width: 89%;
    }
    .ghj {
        width: 90%;
        height: 80px;
        margin: 40px auto;
    }
    .block {
        display: block;
        text-align: center;
    }
    .none {
        display: none;
    }
    .textG ul {
        width: 180px;
    }
    .B1 {
        width: 94%;
        height: 140px;
    }
}

/* planshet/mini laptop */

@media screen and (max-width: 1205px) {
    .textImg {
        width: 450px;
    }
    #logoF {
        height: 95px;
    }
    #play-btn {
        width: 140px;
        height: auto;
    }
    .ghjk {
        width: 100%;
    }
    .ghj {
        width: 80%;
    }
    .textDiv {
        width: 80%;
        height: 80px;
    }
}

@media screen and (max-width: 1025px) {
    header {
        height: 614px;
    }
    main {
        height: 1600px;
    }
    .section_Trailer {
        height: 576px;
    }
    .textConteiner p {
        font-size: 26px;
    }
    .textDiv h2 {
        font-size: 42px;
    }
    .textDiv {
        height: 70px;
    }
    .B1 {
        height: 145px;
    }
    .ImgBox {
        height: 87%;
    }
    .ImgBox img {
        height: 250px;
        width: 250px;
    }
    .second h2 {
        font-size: 29px;
    }
    .column {
        width: 320px;
    }
    .Addres {
        display: none;
    }
}

/* planshet */

@media screen and (min-width: 780px) {
    .block768 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 461px;
    }
    main {
        height: 1635px;
    }
    .textG {
        width: 400px;
    }
    .block768 {
        display: block;
    }
    .uio {
        display: block;
    }
    .innerr {
        width: 90%;
    }
    .column {
        width: 290px;
    }
    .nonen, .yui, .textDiv, .block {
        display: none;
    }
    .row1, .row2 {
        width: 40%;
        height: 1000px;
        padding: 0;
        flex-direction: column;
    }
    .mainImgDiv {
        height: 1025px;
    }
    .mainInner {
        display: flex;
        justify-content: space-around;
        height: 100%;
    }
    .ImgBox {
        width: 100%;
        height: 35%;
    }
    .section_Trailer {
        height: 432px;
    }
}

/* phone */

@media screen and (max-width: 576px) {
    html, body {
        width: 100%;
        max-width: 576px;
    }
    
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(0);
        }
    }

    .wert, .ghj, .fty, .textG, .Addres, .block, .block768 {
        display: none;
    }
    header {
        height: 576px;
    }
    main {
        height: 2900px;
    }
    .ad {
        height: 250px;
        margin: 0;
    }
    .innerr {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .column {
        height: 20%;
    }
    .mainInner {
        display: block;
        height: 2200px;
    }
    .poster1 {
        display: block;
        width: 100%;
    }
    .qaz {
        display: block;
        font-size: 10px;
    }
    .B1 {
        height: 90px;
        width: 70%;
    }
    .second {
        height: 100%;
    } 
    .row1, .row2 {
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        margin: 0 auto;
        width: 75%;
    }
    .second h2 {
        font-size: 28px;
    }
    .mainImgDiv {
        height: 100%;
        background-image: none;
        background-color: #000000;
    }
    .wrapperDiv {
        height: 100%;
    }
   .SwitchBar {
        width: 100%;
        height: auto;
        display: block;
   }
   #fgh {
        width: 100%;
        height: auto;
   }
   #playWrapper {
        height: 318px;
   }
   .section_Trailer {
        flex-direction: column;
        height: 240px;
   }
   .videoConteiner {
        height: 319px;
        width: 100%;
   }
   .SwitchWrapper {
        flex-direction: row;
   }
   #btn1, #btn2 {
        width: 200px;
   }
   #logoF {
        height: 80px;
   }
   .textConteiner p {
        font-size: 27px;
   }
   .textImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }
   .SwitchInner {
        width: 100%;
        height: 100%;
   }
   .HFG p {
        width: 64%;
   }
   .ImgBox {
        height: 310px;
   }
   .section_Trailer {
        border: none;
   }
   .ImgBox img {
        width: 80%;
        height: auto;
   }
}

@media screen and (max-width: 363px) {
    header {
        height: 500px;
    }
    main {
        height: 2900px;
    }
    .ImgBox img {
        width: 100%;
        height: auto;
   }
}
